*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    width: 95vw;
    background-color: antiquewhite;
    margin: 0;   
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 15vw 70vw 15vw;
}

header, nav, article, footer {
    font-size: 2rem;
    padding: 20px 10px 5px 12px;
    border: 5px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}

header {
    background-color: blue;
    grid-column: span 3;
}

nav {
    background-color: rgb(229, 119, 119);
    grid-column: 1 span;
}

article {
    background-color: brown;
    grid-column: 2 span;
}

footer {
    background-color: gray;
    grid-column: span 3;
}